<link rel = "stylesheet" href = "dashboard.css"></link>
<div class = "row" id = "total">
    <div class = "col-lg-5">
    <!--First league-->
    <div class="col-lg-12 widget red-bg p-lg" id = "league">
        <button class = "btn btn-warning" style = "float:right;">리그 나가기 </button>    
        <div class="m-b-md col-lg-5 text-center">
            <strong id = "leaguename" >윗더베</strong><small style = "font-size:130%"> 리그</small><br>
            <strong id = "teamname"> 성하짱짱 팀</strong>
            <div>
                <img id = "emblem"
                 src = "http://www.pngimage.com/wp-content/uploads/2014/10/real_madrid_logo.png">
            </div>
        </div>
        <div class = "col-lg-7">
            <br>
            <div>
                <p> 드래프트까지 10일 남았습니다.</p>
                <br>
                <p>모드 : 리그매치</p>
                <p>리그 기간 : 2주</p>
                <p>드래프트 : 시작전</p>
                <p>드래프트 일시 : 2015년 9월 10일 20시</p>
            </div>
            
        </div>
    </div>

    <!--Second League-->
    <div class="col-lg-12 widget yellow-bg p-lg" id = "league">
        <button class = "btn btn-warning" style = "float:right;">리그 나가기 </button>    
        <div class="m-b-md col-lg-5 text-center">
            <strong id = "leaguename" >윗더베</strong><small style = "font-size:130%"> 리그</small><br>
            <strong id = "teamname"> 성하짱짱 팀</strong>
            <div>
                <img id = "emblem"
                 src = "https://attachment.namu.wiki/seongnamfclogo.png">
            </div>
        </div>
        
        <div class = "col-lg-7">
            <br>
            <div>
                <p> 드래프트까지 10일 남았습니다.</p>
                <br>
                <p>모드 : 리그매치</p>
                <p>리그 기간 : 2주</p>
                <p>드래프트 : 시작전</p>
                <p>드래프트 일시 : 2015년 9월 10일 20시</p>
            </div>
        </div>
    </div>
    <!--Third League-->
    <div class="col-lg-12 widget blue-bg p-lg" id = "league">
        <button class = "btn btn-warning" style = "float:right;">리그 나가기 </button>    
        <div class="m-b-md col-lg-5 text-center">
            <strong id = "leaguename" >윗더베</strong><small style = "font-size:130%"> 리그</small><br>
            <strong id = "teamname"> 성하짱짱 팀</strong>
            <div>
                <img id = "emblem"
                 src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH34GrRELZuKCHWVJHIsuNflwmE_B256eTHrzYPwg1Ni6YHOn_">
            </div>
        </div>
        
        <div class = "col-lg-7">
            <br>
            <div>
                <p> 드래프트까지 10일 남았습니다.</p>
                <br>
                <p>모드 : 리그매치</p>
                <p>리그 기간 : 2주</p>
                <p>드래프트 : 시작전</p>
                <p>드래프트 일시 : 2015년 9월 10일 20시</p>
            </div>
        </div>
    </div>
    </div>
    
    <!-- table-->
    <div class = "col-lg-7">
        <table class="table table-striped table-bordered table-hover" id="editable" >
            <thead>
                <tr>
                    <th>공개</th>
                    <th>방장</th>
                    <th>리그 이름</th>
                    <th>드래프트 시작 일시</th>
                    <th>인원</th>
                    <th>리그 모드</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                    <td class = "center"><i class = "fa fa-lock"></i></td>
                    <td>성하 짱짱
                    </td>
                    <td>한화 팬만</td>
                    <td class="center">2015년 9월 10일 20시</td>
                    <td class="center">3/10</td>
                    <td class="center">리그 매치</td>
                </tr>
                <tr class="gradeX">
                    <td class = "center"><i class = "fa fa-lock"></i></td>
                    <td>야알못</td>
                    <td>야잘잘</td>
                    <td class="center">2015년 9월 23일 20시</td>
                    <td class="center">5/8</td></td>
                    <td class="center">리그 매치</td>
                </tr>
                
                
            
            </table>
    
    </div>
</div>

