
<div class="row wrapper border-bottom white-bg page-heading bottom-zero" ng-controller="AppController">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1 top-padding">
                
                <i class="fa fa-clock-o draft-icon"></i>
                <p style="width: 60px;">제한시간</p>
                
            </div>
            <div class="col-md-4">
                <div class="your-clock"></div>
            </div>
            <div class="col-md-4 top-padding">
                <i class="fa fa-refresh draft-icon"></i>
                <p>드래프트 순서</p>
            </div>
        </div>
    </div>
</div>
<script>
    angular.module('app',['draft'])
        .controller('AppController',['$scope', '$http',function($scope, $http){
            //get player data
            $http({
                method: 'POST',
                url: '/data/getPlayers',
                data: null
            })
            .success(function(_data, _status, _headers, _config){
                if( _data ) {
                    console.log(_data);
                }
                else {
                    console.log('error!')
                }
            })
            .error(function(_data, _status, _headers, _config){
                console.log(status);
            })
            
            //드래프트에 참여하는 유저 목록
            
        }]);
    
    angular.module('draft',[]);
    angular.module('draft.controllers',[])
    angular.module('draft.services',[])
    angular.module('draft.filters',[])
    angular.module('draft.directives',[])
</script>

<button type="button" class="pick" style="margin: 25px; font-size: 20px; padding: 15px;">선수 픽</button>


<!--타자용 모달-->


<!--모달 뜨게 하는 버튼-->
<a data-toggle="modal" data-target="#myModal">
    강민호
</a>
<!--팝업(모달) 바디 부분-->
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn pack">
                <div class="modal-body">
                    <!-- 위에 엠블럼이랑 소속정보-->
                    <div class = "row">
                        <div class = "col-sm-3">
                            <div class = "black-box">
                                강민호
                            </div>
                            <div class = "emblem">
                                <%=image_tag("tiger.jpg")%>
                            </div>
                        </div>
                        
                        <div class = "col-sm-offset-2 col-sm-7">
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    KBO 리그 소속팀 : 
                                </div>
                                <div class = "col-sm-6">
                                    한화 이글스 
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    야알못 리그 소속팀 : 
                                </div>
                                <div class = "col-sm-6">
                                    오장섭 감독의 <br>
                                    <span>성하짱짱</span>팀
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    포지션 
                                </div>
                                <div class = "col-sm-6">
                                    포수
                                </div>
                            </div>
                            <div class = "row player-line"
                                style = "margin-right : 0px">
                                <div class = "col-sm-6">
                                    다음 경기 상대 투수 
                                </div>
                                <div class = "col-sm-4">
                                    레일리<br>(롯데 자이언츠)
                                </div>
                                <div class = "col-sm-2 next">
                                    <%=image_tag("bird.png")%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--밑에 정보 테이블-->
                    <!--메인 정보-->
                    <table class="table table-bordered border">
                        <thead>
                            <tr class = "border">
                                <th class = "border-left">
                                    일시
                                </th>
                                <th>경기회차</th>
                                <th>승리</th>
                                <th>평균자책</th>
                                <th>탈삼진</th>
                                <th>홀드</th>
                                <th>세이브</th>
                                <th style = "width : 30%">상대팀 선발투수</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style = "border-left : solid">8/15</td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td style = "border-right:solid">
                                <%=image_tag("eagles.png")%>
                            </td>
                            
                        </tr>
                        <tr>
                            <td style = "border-left:solid">
                                8/15
                            </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td style = "border-right:solid">
                                <%=image_tag("eagles.png")%>
                            </td>
                        </tr>
                        <tr class = "border">
                            <td colspan = "2">합계 </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                
                
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    닫기
                </button>
                <button class = "btn btn-white"id = "detail">
                    세부정보
                </button>
                <!--메인 정보 끝!-->
                <!--세부정보-->
                <div id = "detail__information">
                    <table class="table table-bordered border">
                        <thead>
                            <tr class = "border">
                                <th class = "border-left">
                                    일시
                                </th>
                                <th>경기회차</th>
                                <th>이닝</th>
                                <th>실점</th>
                                <th>피안타</th>
                                <th>피홈런</th>
                                <th>볼넷</th>
                                <th>사구</th>
                                <th>승률</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style = "border-left : solid">8/15</td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                            <td style = "border-right:solid"></td>
                            
                        </tr>
                        <tr>
                            <td style = "border-left:solid">
                                8/15
                            </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                            <td style = "border-right:solid"></td>
                        </tr>
                        <tr class = "border">
                            <td colspan = "2">합계 </td>
                            <td>70</td>
                            <td>1</td>
                            <td>1.50</td>
                            <td>6</td>
                            <td>1</td>
                            <td>0</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 세부 정보 테이블 끝!-->
                
            </div>
        </div>
    </div>
    <!--모달 End-->


</div>








<script type="text/javascript">
	
	
	var clock;
		
	$(document).ready(function() {
		
		clock = $('.your-clock').FlipClock(30, {
	        clockFace: 'MinuteCounter',
	        countdown: true,
	        autoStart: true,
	    });

	    $('.pick').click(function() {

	    	
	    	clock.setTime(30);
	    	clock.start();
	    });

	});
	
</script>


<script>
    $(document).ready(function(){
        $("#detail__information").hide();
        $("#detail").click(function(){
           $("#detail__information").toggle(); 
        });
    });
</script>

