<div class="row wrapper border-bottom white-bg page-heading">
    
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-3">
                
                <i class="fa fa-clock-o"></i>
                <p>제한시간</p>
                
            </div>
            <div class="col-md-5">
                00:30
            </div>
            <div class="col-md-4">
                드래프트 순서
            </div>
        </div>
    </div>
    

</div>