
<div class="wrapper wrapper-content">
    <div class="text-center animated fadeInRightBig">
        <!--contents-->
        <div class = "row">
            
            <!-- league informations-->
            <div class = "col-lg-6">
                <div class = "ibox">
                    <div>
                        <div id = "title-box">
                            <strong>리그 정보</strong>
                        </div>    
                    </div>
                    <div class = "ibox-content">
                        <div>
                            <div class = "row book">
                                <%= image_tag("tropy.png") %>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">리그 이름:</label>
                                <strong class = "col-lg-6">윗 더 베 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">내 팀 이름:</label>
                                <strong class = "col-lg-6">장섭 독수리</strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">참여 인원:</label>
                                <strong class = "col-lg-6">총 10 팀 중 5 팀 참가 중  </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">리그 기간:</label>
                                <strong class = "col-lg-6">6주 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">드래프트 시작 여부:</label>
                                <strong class = "col-lg-3">완료 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">공개 여부:</label>
                                <strong class = "col-lg-3">공 개  </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">방 장 :</label>
                                    
                                <span class = "col-lg-6">오장섭님의 장섭 독수리 </span>
                            </div>
                        </div>
                        <button class = "btn btn-default">리그 설정</button>
                    </div>
                </div>
            </div>
            
            <!--participants list-->
            <div class = "col-lg-6">
                <div>

                    <div>
                        <div id = "title-box">
                            <strong>참여 팀</strong>
                        </div>
                    </div>
                    <div class = "ibox-content">
                        <div>
                            
                            <div class = "row book">
                                <div class = "col-lg-1"></div>
                                <label class = "col-lg-5">팀 이름 </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">감독 </label>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">장섭 독수리  </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                 <strong class = "col-lg-5">오장섭 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">성하짱짱 </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                 <strong class = "col-lg-5">박성하 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">폼프리츠 </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                 <strong class = "col-lg-5">Jason </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">Juvvon </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                 <strong class = "col-lg-5">박주원 </strong>
                            </div>
                            <div class = "row book">
                                <i class = "col-lg-1 fa fa-apple"></i>
                                <label class = "col-lg-5">과고범생이 </label>
                                <i class = "col-lg-1 fa fa-apple"></i>
                                 <strong class = "col-lg-5">박지우  </strong>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>

</div>
    