<div id="position-slot-container" class="container" ng-mousemove="dragAction($event)" ng-mousedown="dragEnd($event)">
    <div id="position-slot-mirror" class="position-slot" ng-hide="selectedSlotScope == null" style="transition:null;">
        <div class="position-slot-position">{{selectedPlayer.positionId | positionName}}</div>
        <div class="position-slot-name">{{selectedPlayer.name}}</div>
        <div class="position-slot-team" ng-class="getTeamClassName(selectedPlayer.teamId)"></div>
    </div>
    
    <div class="row" style="display:table;">
        
        <div class="col-md-9 black-border" id="position-field" style="display:table-cell; float:none;">
            
            <div class="field_image"></div>
            <wtb-position-slot ng-repeat="player in startingBatters()"></wtb-position-slot>
            
        </div>
        <div class="col-md-3 background_dark pitch_height content_centered" style="display:table-cell; float:none;">
            <div class="badge badge_dark_more badge_bench">
                <p>주전 투수</p>
            </div>
            <wtb-position-slot class = 'fixed_height_50' ng-repeat="player in startingPitchers()"></wtb-position-slot>
        </div>
        
    </div>
    
    <div class="row">
        
        <div class="col-md-12">
            
            <div class="badge badge_dark_more badge_bench">
                <p>벤치</p>
            </div>
            
        </div>
        
        <div class="col-md-8 background_dark bottom_fixed_height bottom_width_fix">
            
            <div class="col-md-1 top_padding">
                <div class="badge badge_dark_more badge_bench_sub content_centered">
                    <p>타자</p>
                </div>
            </div>
            <div class="col-md-5">
                <wtb-position-slot class = 'fixed_height_50' ng-repeat="player in benchBatters()"></wtb-position-slot>
            </div>
            
            <div class="col-md-1 top_padding">
                <div class="badge badge_dark_more badge_bench_sub content_centered">
                    <p>투수</p>
                </div>
            </div>
            <div class="col-md-5">
                <wtb-position-slot class = 'fixed_height_50' ng-repeat="player in benchPitchers()"></wtb-position-slot>
            </div>
            
        </div>
        <div class="col-md-3 black-border bottom_fixed_height bottom_width_fix_2">
            
            <div class='row'>
                
                <div class="col-md-4 team_fixed_height_1">

                    <img src="https://s3-ap-northeast-1.amazonaws.com/ahnmac/uploads/ahnmac/image_file/1/yank.gif"
                    style = "width : 200%; margin-left : -10px" >
                    </img>
                </div>
                <div class="col-md-8 team_fixed_height_2 team_font">
                    <p><span style = "font-size:120%">오장섭 감독</span>의</p> <br>
                    <p><span style = "font-size:140%">장섭독수리</span>팀</p>
                </div>
                
            </div>
            
            
            
            
        </div>
    </div>
</div>