// Place all the styles related to the league controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


//league dashboard

#leaguename{
    
    font-size:200%;
}

#teamname{
    
    font-size:180%;
}

#emblem{
    height:100px;
    width:100px;
    margin-top : 30px;
}

#league{
    border-radius : 21px;
    padding: 10px 10px 0px 10px;
    margin-top : 0px;
}
#league:hover{
    opacity:0.8;
}
#total {
    margin : 10px 10px;
}

.table{
    font-size:100%;
}
tbody>tr:hover{
    opacity:0.8;
    cursor:pointer;
}

tr {
    text-align:center;
}

#search{
    background-color:#e8e8e8;
    border-radius:3px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
.ibox{
    background-color: white;
}
#title-box{
    background-color:white;
    text-align : left;
    padding : 10px;
}

.book{
    text-align: left;
    margin : 0px;
    margin-top : 5px;
    margin-bottom : 5px;
}
#leave-btn{
    float:right;
    margin-right : 3%;
    padding-top: 3px;
    padding-bottom : 3px;
}
//info action

ul > li{
    display : inline;
}
ul > li > div{
    height : inherit;
}
.image_div{
    padding-left : 0px;
    padding-right: 0px;
    
}
.partition-container{
    padding : 10px;
    background-color : white;
}

.image_div > img{
    max-width : 100%;
    max-width : 40px;
    min-width : 30px;
    
}

.name_div{
    padding-top:12px;
    font-size:110%;
    
}
.margin_name{
    padding : 10px;
    margin : 5px;
    background-color: white;
}
.margin_name_none{
    text-align : center;
    background-color : transparent;
}
#title-box{
    text-align : center;
    font-size:170%;
    color : #676a6c;
    
}
#clock > img{
    width : 35px;
    margin-top : 5px;
    margin-left : 5px;
}

.add{
    height : 54px;
    margin-top : 20px;
    margin-bottom : 20px;
}
.add2{
    margin-top : 8px;
    margin-bottom : 8px;
}
.add3{
    margin-top : 10px;
}
.special{
    background-color: white;
    padding-bottom : 12px;
    border : #E5E6E7 1px solid;
    border-radius : 5px;
    color : #676A6C;
}
.is_private{
    
}
.special2{
    margin : 10px;
    padding : 10px;
    background-color : #F3F3F4;
}
.small_image_div{
}
.small_image_div > img{
    max-width : 30px;
    min-width : 20px;
}

.name_div2{

    padding-top:5px;
    padding-bottom:5px;
    color:#fff;
    background-color:#CC99FF;
    border-radius:5px;
    text-align:center;
    
}
.image_div2{
    padding-left : 0px;
    padding-right: 0px;
}
.image_div2 > img{
    max-height : 40px;
    min-height : 30px;
    max-width : 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.box{
    background-color : #ffffff;
    height : 100%;
}
.box2{
    background-color : #ffffff;
    height : 100%;
}
.lastline{
    margin : 0px 0px;
}
.lastline2{
    text-align : center;
}
.lastline2 > button{
    float : none;
}
#padding-5px{
    padding-left : 5px;
    padding-right : 5px;
}
.autopick{
    color : #f8ac59;
}
.accessed{
    color : #4db6ac;
}
.non-accessed{
    color : #d9534f;
}
.draft_finished{
    border:#19B293 1px solid;
    background-color : white;
    color : #19B293;
    border-radius : 5px;
    text-align : center;
}
.private{
    border: #D8524E 1px solid;
    color : #D8524E;
    border-radius : 5px;
    text-align : center;
    background-color : #ffffff;
}
//result action css
.line > div > img{
    
    height:50px;
    opacity: 0.5;
}
.result-line{
    padding-top : 10px;
    padding-bottom : 10px;
}
.result-line-half{
    margin-top:5px;
    margin-bottom:5px;
}
.team-slot{
    font-size : 130%;
    position : relative;
    top : 50%;
    width : 40%;
    text-align : center;
}
.versus{
    width : 20%;
    font-size : 130%;
}

//이미지 크기 조절
.time{
    color:white;
    text-align:center;
    font-size:120%;
    background-color:gray;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.versus{
    text-align:center;
}
.line{
    height : 54px;
    padding-top:5px;
    padding-bottom:5px;
}
.club{
    padding-left:20px;
    text-align:center;
    font-size:140%;
}



/* lineup css */
div#lineup-pview-container > div#position-slot-container {
    position:relative;
}
        
div.position-slot {
    clear:both;
    width:200px;
    padding:5px;
    margin:10px;
    
    border-radius:5px;
    background-color:rgb(47,64,80);
    
    position: relative;
    
    color:white;
    font-weight:3.0em;
    font-size:0.7em;
    
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    
    z-index:5;
    
}

div.position-slot > div {
    float:left;
    
    padding:5px 20px;
    text-align:center;
    
    

}

div.position-slot-position {
    width:25%;
    font-size:0.7em;
    background-color:rgb(44,56,67);
    
    
    
    border-radius: 10px;
    height: 45px !important;
    font-size: 15px !important;
    vertical-align: middle;
    padding-top: 12px !important;
    font-weight: bold !important;
    padding-left: 0px !important;
    padding-right: 0px !important;    
}

div.position-slot-name {
    width:50%;
    background-color:rgb(0,0,0);
    
    
    border-radius: 10px;
    height: 45px !important;
    font-size: 18px !important;
    vertical-align: middle;
    padding-top: 10px !important;
    font-weight: bold !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}

div.position-slot-team {
    width:25%;
    background-color:white;
    vertical-align : middle;
    padding : 0px;
    background-image: url(asset-path('bird.png'));
    background-size: contain;
    background-repeat : no-repeat; 
    background-position: center; 
    
    border-radius: 10px;
    height: 45px !important;
    font-size: 12px !important;
    vertical-align: middle;
    padding-top: 15px !important;
    font-weight: bold !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.position-slot-team.sk {
    background-image: url(asset-path('구단로고/SK.png'));
}

div.position-slot-team.hanwha {
    background-image: url(asset-path('구단로고/한화.png'));
}

div.position-slot-team.lg{
    background-image: url(asset-path('구단로고/엘지.png'));
}

div.position-slot-team.kia {
    background-image: url(asset-path('구단로고/기아.png'));
}

div.position-slot-team.samsung {
    background-image: url(asset-path('구단로고/삼성.png'));
}

div.position-slot-team.kt{
    background-image: url(asset-path('bird.png'));
}

div.position-slot-team.nexen {
    background-image: url(asset-path('구단로고/넥센.png'));
}

div.position-slot-team.doosan {
    background-image: url(asset-path('구단로고/두산.png'));
}

div.position-slot-team.lotte {
    background-image: url(asset-path('구단로고/롯데.png'));
}

div.position-slot-team.nc {
    background-image: url(asset-path('구단로고/NC.png'));
}




div.position-slot:after {
    content:"";
    display:block;
    clear:both;
}

div.position-slot.selected {
    transform:scale(0.7);
    opacity:0.3;
}

div.position-slot.highlited {
    transform:scale(1.1);
    border: 3px rgb(248,172,89) solid;
    z-index:20 !important;
}

div#position-slot-mirror {
    position:absolute;
    z-index:10;
    margin:0px;
}

div#position-field {
    position:relative;
    background-color: #E6E6E6;
}

div#position-field > div.position-slot {
    position:absolute;
}

div#position-field > div.position-slot.left-fielder {
    top:30%;
    left:7%;
}

div#position-field > div.position-slot.center-fielder {
    top:23%;
    left:35%;
}

div#position-field > div.position-slot.right-fielder {
    top:30%;
    right:7%;
}

div#position-field > div.position-slot.shortstop {
    top:55%;
    left:20%;
}

div#position-field > div.position-slot.second-base {
    top:55%;
    left:50%;
}

div#position-field > div.position-slot.third-base {
    left:8%;
    top:70%;
}

div#position-field > div.position-slot.first-base {
    right:8%;
    top:70%;
}

div#position-field > div.position-slot.catcher {
    bottom:2%;
    left:35%;
}

div#position-field > div.position-slot.designated {
    right:7%;
    bottom:2%;
}

#lineup-container .btn-default {
    
    background-color:#000;
    
}

#lineup-container .btn-danger {
    
    border-color: white !important;
}

#lineup-container .btn {

    font-weight: bold;

}


/* //jae-seo css part draft-page */


#position-field {
    
}

.field_image {
    
    background-image: url(asset-path('field.jpg'));
    
    background-size: contain;
    background-repeat : no-repeat; 
    background-position: center; 
    position: absolute;
    height:100% !important;
    width:100% !important;
    right: 0px;
    z-index: 0;
}

.background_dark {
    
    background-color: #2F4050;
    
}

.background_dark_more {
    
    background-color: #2C3843;
    
}

.badge_dark_more {
    
  background-color: #2C3843 !important;
  color: white !important;
  
}

.badge_bench {
    
    line-height: 40px !important;
    width: 150px;
    font-size: 18px !important;
    margin: 10px;
    
}

.badge_bench_sub {
    
    line-height: 100px !important;
    width: 60px;
    font-size: 18px !important;
    margin: 10px auto;
    vertical-align: middle;

}

.margin_auto {
    
    margin: 10px auto;
}

.content_centered {
    
    text-align: center;    
}


.badge {
    
    display: inline-block;
    
}

.badge p {
    
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    font-weight: bold !important;
    font-size: 20px !important;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.pitch_height {
    
    height: 500px;
    
}

.fixed_height_50 {
    
    height: 60px !important;
    
}

.fixed_height_40 {
    
    height: 45px !important;
    
}

.slot_font {
    
    font-size: 20px !important;
    vertical-align: middle;
    padding-top: 15px !important;
    font-weight: bold !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.top_padding {
    
    padding-top: 10px;
}


.background_white {
    
    background-color: white !important;
}

.black-border {
    
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


.bottom_fixed_height {
    
    height: 150px;
}

.bottom_width_fix {
    
    width: 750px !important;
}

.bottom_width_fix_2 {
    
    width: 250px !important;
}

.team_fixed_height_1 {
    
    padding-top: 30px;
    padding-left: 25px !important;
}

.team_fixed_height_2 {
    
    padding-top: 30px;
}

.team_font p {
    
    font-size: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.team_font span{
    
    font-size: 20px;
    font-weight: bold !important;
}







//드래프트 전 라인업 view css

.before_draft{
    background-color:black;
    opacity:0.4;
}
.draft_please{
    z-index : 10000;
    position : absolute;
    transform :translate(-50%, -50%);
    background-color: black;
    color: white;
    top : 50%;
    left : 50%;
    opacity : 1;
    text-align : center;
    font-size:180%;
    border-radius:3px;
    padding : 10px;
}
//리그 생성 css
.image{
    
    height : 35px;
    width : 35px;
    
}
.image > img{
    margin-top : 10px;
    margin-left : 5px;
    max-height:100%;
}
.image_lock > img {
    margin-top : 5px;
}

// 드래프트 페이지 css



.bottom-zero {
    
    padding-bottom: 0px !important;
    
}

.top-padding {
    
    padding-top: 10px !important;
    
}


.draft-top-line{
    border-bottom : solid 1px gray;
    padding-top : 20px;
    padding-bottom : 5px;
}
.draft-top-line > div > img{
    width : 100%;
}
.draft-middle-line{
    margin-top : 30px;
}
.pick-order{
    margin-top : 10px;
}
.sorting-container{
    clear : both;
    height : 100%;
    margin-bottom: 20px;
}
.sorting-container > div{
    height : 100%;
}
.player-list{
    clear : both;
    margin-bottom: 20px;
}
.black-box{
    width : 25%;
    background-color : black;
    color : white;
    padding : 0px;
}
.black-box > h3{
    margin : 0px;
    padding : 0px;
}
.border-box{
    padding : 10px 5px;
    border : solid 1px;
}
.ordering{
    float : left;
    padding-left : 5px;
    padding-right : 5px;
}
#ordering1{
    width : 24%;
}
#ordering2{
    width : 18%;
}
#ordering3{
    width : 18%;
}
#search-player{
    width : 40%;
}
//draft css 선수 팝업
.pack{
    padding : 10px 20px 10px 20px;
}
.emblem{
    max-width : 100%;
}
.emblem > img{
    max-width:100%;
}
.border_left{
    border-left: solid;
}
.border-top{
    border-top: solid;
}
.border-right{
    border-right: solid;
}
.border-bottom{
    border-bottom: solid;
}
.border{
    border : solid;
}
table{
    table-layout : fixed;
    
}
table > thead > tr> th{
    width : auto;
}
.black-box-info-draft{
    text-align : center;
    color : white;
    background-color:black;
    padding-top:10px;
    padding-bottom:10px;
    font-size:150%;
}

.black-box {
    text-align : center;
    color : white;
    background-color:black;
    padding-top:10px;
    padding-bottom:10px;
    font-size:150%;
}

.player-line{
    overflow : auto;
    height : auto;
    min-height:50px;
    border: solid 1px black;
    font-size:130%;
    margin:10px 0px;
    margin-right : 0px;
    padding-top:10px;
    padding-bottom:10px;
}
.player-line div{
    height : 100%;
    padding : auto;
    font-weight : bold;
}
.player{
    text-align:center;
    
}
.player > span{
    color : blue;
}
.next{
}
.next > img {
    max-width : 80px;
    min-width : 60px;

}

td > img{
    max-height: 36px;
}
table > tbody > tr > td {
    font-size:130%;
}
button{
    float : right;
}
table > thead > tr > th{
    text-align: center;
}

.gray-out{
    opacity : 0.5;
    background-color : black;
}

//trade css

div.trade-slot {
    clear:both;
    width:200px;
    padding:5px;
    margin:10px;
    
    border-radius:5px;
    background-color:rgb(47,64,80);
    
    color:white;
    font-weight:3.0em;
    font-size:0.7em;
    
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    display :table;
    table-layout : fixed;
    height : 100%;
    width : 100%;
}

div.trade-slot > div {
    float:left;
    
    padding:5px 5px;
    text-align:center;
    
    display: table-cell;
    height :100%;
}

div.trade-slot-position {
    width:35%;
    font-size:0.7em;
    background-color:rgb(44,56,67);
    
    
}

div.trade-slot-name {
    width:43%;
    background-color:rgb(0,0,0);
    
}

div.trade-slot-team {
    width:17%;
    background-color:rgb(44,56,67);
    vertical-align : middle;
    padding : 0px;
    
}
div.trade-slot-team > img{
    height : 100%;
    width : 100%;
}

.padding{
    padding:10px;
    background-color: yellow;
    border-radius : 3px;
    border : 2px solid aquamarine;
    background-color : white;
    padding-right:20px;
}


.padding > img{
    height : 100%;
    max-height : 40px;
    min-height : 30px;
    max-width : 40px;
    min-width : 30px;
}





// draft css

.autopick-container {
    height: 30vh;
    overflow-y: auto;
}
#autopick-bottom{
    margin-bottom : 20px;
}

#draft-position-map {
    position:relative;
    min-height:30vh;
}

.autopick-player-container {
    background-color:#fff;
    margin:10px 0;
}

.autopick-player-container > span {
    display:inline-block;
    text-align:center;
}

.autopick-player-name {
    color:rgb(111,131,150);
    font-weight:bolder;
    width:22%;
}

.autopick-player-team {
    width:15%;
}

.autopick-player-pos {
    width:10%;
    font-weight:bolder;
}

#draft-position-map .firstbase {
    position:absolute;
    top:70%;
    right:12%;
}

#draft-position-map .secondbase {
    position:absolute;
    top:55%;
    left:52%;
}

#draft-position-map .thirdbase {
    position:absolute;
    top:70%;
    left:12%;
}

#draft-position-map .shortstop {
    position:absolute;
    top:55%;
    left:25%;
}

#draft-position-map .designated {
    position:absolute;
    bottom:7%;
    right:12%;
}

#draft-position-map .catcher {
    position:absolute;
    bottom:7%;
    left:40%;
}

#draft-position-map .leftfielder {
    position:absolute;
    top:30%;
    left:7%;
}

#draft-position-map .centerfielder {
    position:absolute;
    top:23%;
    left:40%;
}

#draft-position-map .rightfielder {
    position:absolute;
    top:30%;
    right:7%;
}


.darkgray-bg{
    background-color : #7a7a7b;
}
#editable > tbody > tr > td{
    vertical-align : middle;
}

.drafted-player-container {
    width:100px;
    font-size:7px;
    
    background-color:rgb(47,64,80);
    border-radius:2px;
    padding:2px;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    
    -webkit-text-size-adjust:none;
}

.drafted-player-container:after {
    content:"";
    clear:both;
    display:block;
}

.drafted-player-container > div {
    float:left;
    margin:2px;
    font-weight:bold;
    padding:1px;
}

.drafted-player-container div.name {
    background-color:rgb(44,56,67);
    color:white;
    width: 39%;
    text-align: center;
}

.drafted-player-container div.team {
    background-color:rgb(0,0,0);
    color:white;
    width: 24%;
    text-align: center;
}

.drafted-player-container div.pos {
    background-color:rgb(44,56,67);
    color:white;
    width: 24%;
    text-align: center;
}

* {
    -webkit-text-size-adjust: none;
}


// draft css jae-seo part

.draft-top-line i {
    
    text-align: center !important;
    font-size: 60px !important;
    
}

.draft-top-line {
    
    text-align: center !important;
    
}


.pick-order .btn-group {
    
    margin-top: 10px;
    float: left;
}

.pick-order .btn-group .btn {
    
    border-radius: 0px !important;
    border: solid 3px black;
    margin-left: -3px !important;
}


.left_time_container {
    
    margin-top: 15px;
}

.left_time {

    border: solid 3px black !important;
    height: 45px;
    width: 120px;
}

.border-box_view_position {
    
    padding : 10px 5px;
    border : solid 1px;
    height: 400px;
    
}

.auto_pick_container {
    
    margin-bottom: 20px;
}

.player-list td {
    
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.draft_player_list {
    
    padding-left: 90px !important;
    text-align: left;
    
}

.border_box_player_list {
    
    padding-bottom: 0px;
}

.field_image_mini {
    
    background-image: url(asset-path('field.jpg'));
    
    background-size: contain;
    background-repeat : no-repeat; 
    background-position: center;
    height: 100%;
    background-color: #E6E6E6;
    border: solid 1px black;
    height: 291px !important;
}

.pitchers_mini {
    background-color: #2F4050;
    height: 291px !important;
    text-align: center;
    
}

.badge_mini {
    
    border-radius: 0px !important;
}

.badge_pitch {
    
    margin-top: 10px;
    margin-bottom: 20px;
}

.badge_mini_bench {
    
    z-index: 5 !important;
    margin-left: 5px;
    margin-top: 25px;
    border-radius: 0px !important;
}

.background_dark_mini {
    
    
    height: 80px !important;
    background-color: #2F4050;
}

.no_margin_mini_1 {
    
    padding: 0px !important;
}


.no_margin_mini_2 {
    
    padding: 0px 15px !important;
}

.team1-result-bar {
    text-align:right;
}

.team1-result-bar > span {
    display:inline-block;
    border-radius:3px;
    background-color:rgb(26, 179, 148);
    height:25px;
}

.team2-result-bar > span {
    display:inline-block;
    border-radius:3px;
    background-color:rgb(217, 83, 79);
    height:25px;
}

.capture > img{
    width : 100%;
    margin-left : -15px;
}

.emblem-slot > img{
    margin-top : 10p;
    height : 100px;
}

.bar-0{
    margin-top:49px;
}
.bar-1{
    margin-top:12px;
}
.bar-2{
    margin-top:12px;
}
.bar-3{
    margin-top:12px;
}
.bar-4{
    margin-top:12px;
}
.bar-5{
    margin-top:53px;
}
.bar-6{
    margin-top:12px;
}

.bar-7{
    margin-top:12px;
}
.bar-8{
    margin-top:12px;
}
.bar-9{
    margin-top:12px;
}

#result-table td {
    border:0px;
}

#result-table .win-part {
    font-weight:700;
}

#result-table .lose-part {
    font-weight:300;
    color:#ddd;
}

#result-table-container:focus {
    outline: 0 solid transparent;
}

.margin_5px {
    
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.black_box_50_width {
    
    width: 50% !important;
}

.result_page_top_margin {
    
    margin-top: 100px !important;
}

.result_page_result_top_back {
    
    background-color: #2F4050;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.margin_even_text {
    
    
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.btn_circle_result_team_1 {
    
    background-color: rgb(26, 179, 148) !important;
    
}

.btn_circle_result_team_2 {
    
    background-color: rgb(217, 83, 79) !important;
    
}

.team1_circle_result {
    
    margin-top: 7px !important;
    margin-bottom: 5px !important;
    font-weight:bold;
    border-radius: 50%;
    background-color: rgb(26, 179, 148);
    width: 60px;
    height: 60px;
    position: relative;
    left: 63%;
    padding-top: 13px !important;
    padding-left: 15px !important;
    
}


.team2_circle_result {
    
    margin-top: 7px !important;
    margin-bottom: 5px !important;;
    font-weight:bold;
    border-radius: 50%;
    background-color: rgb(217, 83, 79);
    width: 60px;
    height: 60px;
    padding-top: 13px !important;
    padding-left: 15px !important;
}

.round_btn_result {
    border-radius: 50% !important;
    width:50px;
    height:50px;
    padding-top: 12px !important;
    padding-left: 6px !important;
    font-weight: bolder !important;
    font-size: 18px !important;
}

.team_name_result {
    
    font-weight: bolder;
}

.result_time_top {
    
    position: relative;
    right: 25px;
}