// Place all the styles related to the league controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#leaguename{
    
    font-size:200%;
}

#teamname{
    
    font-size:180%;
}

#emblem{
    height:100px;
    width:100px;
    margin-top : 30px;
}

#league{
    padding: 10px 10px 0px 10px;
}
#league:hover{
    opacity:0.8;
}
#total {
    margin : 10px 10px;
}

.table{
    font-size:100%;
}
tbody>tr:hover{
    opacity:0.8;
    cursor:pointer;
}

tr {
    text-align:center;
}

#search{
    background-color:#e8e8e8;
    border-radius:3px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
#title-box{
    background-color:white;
    text-align : left;
    padding : 10px;
}

.book{
    text-align: left;
    margin : 0px;
    margin-top : 5px;
    margin-bottom : 5px;
    
}

//info action
.image_div{
    padding-left : 0px;
    padding-right: 0px;
}
.image_div > img{
    width : 100%;
}

.name_div{
    padding-top:12px;
    font-size:110%;
}
#title-box{
    font-size:150%;
}
.add{
    margin-top : 20px;
    margin-bottom : 20px;
}
.add2{
    margin-top : 8px;
    margin-bottom : 8px;
}
.special{
    background-color : #CC99FF;
    padding-bottom : 12px;
    border-radius : 5px;
    color : #ffffff;
}

.name_div2{
    margin-top:14px;
    margin-bottom:14px;
    padding-top:5px;
    padding-bottom:5px;
    color:#fff;
    background-color:#CC99FF;
    border-radius:5px;
    text-align:center;
}
.image_div2{
    padding-left : 0px;
    padding-right: 0px;
}
.image_div2 > img{
    width : 100%;
}

